<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homePage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>placeOrder</servlet-name>
        <servlet-class>bakeryjava.dao.PlaceOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/bakeryweb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productInsert</servlet-name>
        <servlet-class>bakeryjava.dao.ProductInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productInsert</servlet-name>
        <url-pattern>/ProductInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productDisplay</servlet-name>
        <servlet-class>bakeryjava.dao.ProductDisplay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productDisplay</servlet-name>
        <url-pattern>/ProductDisplay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productUpdate</servlet-name>
        <servlet-class>bakeryjava.dao.ProductUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productUpdate</servlet-name>
        <url-pattern>/ProductUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productDelete</servlet-name>
        <servlet-class>bakeryjava.dao.ProductDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productDelete</servlet-name>
        <url-pattern>/ProductDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>bakeryjava.dao.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminLogout</servlet-name>
        <servlet-class>bakeryjava.dao.AdminLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>bakeryjava.dao.AddToCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>bakeryjava.dao.ViewCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>removeFromCart</servlet-name>
        <servlet-class>bakeryjava.dao.RemoveFromCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>bakeryjava.dao.UpdateCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>bakeryjava.dao.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
